@charset "UTF-8";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    padding-top: 70px;
}

.main {
    width: 100%;
    height: 70%;
    margin: 40px auto;
}