@charset "UTF-8";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    padding-top: 70px;
}

.main {
    width: 100%;
    height: 70%;
    margin: 40px auto;
}

.outer {
    display: table;
    width: 100%;
    height: 100%;
}

.inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.centered {
    position: relative;
    display: inline-block;

    width: 50%;
    padding: 1em;
    color: orange;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #f5f5f5;
}

.glyphicon {
    top: 2px;
}

.container {
    width: 95%;
    padding: 0 15px;
}

.container .navbar-header .navbar-brand {
    padding: 3px 0 0 0;
}

.container .navbar-header .navbar-brand img {
    height: 45px;
}

.table.center {
    align-content: center;
}

.background-green {
    background-color: #CEFBC9;
}

#footer {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 100px;
}

#footer h1.logo {
    position: absolute;
    display: block;
    left: 20px;
}

#footer div {
    position: relative;
    font-size: 11px;
    letter-spacing: 0.02em;
    line-height: 1.8em;
    padding: 20px 0 0 240px;
}

#footer div p {
    margin: 0 0 3px;
}