<div class="container">
  <div class="col-lg-6 col-sm-6 col-12">
    <h4>신규 DB</h4>
    <div class="input-group">
      <label class="input-group-btn">
        <span class="btn btn-default">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;엑셀
          <input type="file" import-sheet-js style="display: none;" multiple>
        </span>
      </label>
      <input type="text" class="form-control" readonly>
    </div>
  </div>

  <table class="table center" style="margin-top: 100px">
    <thead>
    <tr>
      <th>#</th>
      <th>업체</th>
      <th>대표</th>
      <th>번호</th>
      <th>주소</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="shell in vm.tableData.shellData"
        ng-class="{'background-green': shell['번호'] !== undefined}">
      <th>
        {{$index + 2}}
      </th>
      <th ng-click="vm.shellClick('업체', shell)">
        {{shell['업체']}}
      </th>
      <th ng-click="vm.shellClick('대표', shell)">
        {{shell['대표']}}
      </th>
      <th ngclipboard data-clipboard-text="{{shell['번호']}}">
        {{shell['번호']}}
      </th>
      <th>
        {{shell['주소']}}
      </th>
    </tr>
    <tr ng-show="vm.tableData.shellData === '' || vm.tableData.shellData === null || vm.tableData.shellData === undefined">
      <th colspan="5" style="text-align: center;">
        DB, 액셀을 선택해 주세요.
      </th>
    </tr>
    </tbody>
  </table>
</div>