<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ng-click="$root.stateGo('app.main')">
        가영이 APP
        <!--<img src="/img/logo2.png"/>-->
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="menu in $root.manuArr" ng-class="{active: menu.active}">
          <a ng-click="$root.stateGo(menu.state)">
            <i class="fa fa-database" aria-hidden="true"></i> {{menu.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div ui-view>
  <i>Loading ....</i>
</div>

<!--<footer class="footer">-->
  <!--<div id="footer">-->
    <!--<h1 class="logo">-->
      <!--<img src="/img/logo.png"/>-->
    <!--</h1>-->
    <!--<div>-->
      <!--<p>서울특별시 영등포구 선유로 59 문래아카데미 4층 405호</p>-->
      <!--<p>대표전화 : 02-2636-7774&nbsp; ㅣ &nbsp;이메일: company@kdbcfc.co.kr</p>-->
      <!--<p>COPYRIGHT @ 2016 www.kdbcfc.co.kr ALL RIGHT RESERVED.</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</footer>-->